# MDAnalysis stuff
**/*xtc_offsets.npz
**/*xtc_offsets.lock

# LAMMPS stuff
**/*.lammpstrj
**/*.xtc
**/log.*

# python stuff:
__pycache__
**/__pycache__

# jupyter-notebook stuff:
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# sphinx stuff:
build/
